<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deploy a Remix Contract - Ganache</title>

    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>

<body>
<div>
    <h1>Ethereum Secret Messenger</h1>
    <hr>

    <label for="userInput">This site writes a secret message to the Ethereum
        blockchain!</label>
    <input id="userInput" type="text">

    <button id="setMessageButton" onclick="setMessageFunction();">Set secret message</button>
    <button id="getMessageButton" onclick="getMessageFunction();">Get message</button>

    <button id="test" onclick="testJo();">Test</button>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script type = "module" src="../js/index.js"></script>
</body>

</html>

</body>

</html>